set timeout=3
set default=0

menuentry "Kaizor OS (FreeBSD Base)" {
    insmod ufs2
    set root=(hd0,1)

    echo "Loading FreeBSD Kernel..."
    kfreebsd /boot/kernel/kernel

    echo "Setting root filesystem..."
    set kFreeBSD.vfs.root.mountfrom=ufs:/dev/ada0p2

    echo "Booting Kaizor OS..."
    boot
}
